/*
* @Author: Kuze
* @Date:   2017-08-28 19:04:03
* @Last Modified by:   Kuze
* @Last Modified time: 2017-08-30 17:39:13
*/

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 398793 */
  src: url('http://at.alicdn.com/t/font_398793_8qdtzahj3ui8uxr.eot');
  src: url('http://at.alicdn.com/t/font_398793_8qdtzahj3ui8uxr.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_398793_8qdtzahj3ui8uxr.woff') format('woff'),
  url('http://at.alicdn.com/t/font_398793_8qdtzahj3ui8uxr.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_398793_8qdtzahj3ui8uxr.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont';
}
main{
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	margin-top: 15px;
	border-radius: 4px;
	border: 4px solid #e9e9e9;
}
.top{
	width: 100%;
	height: 60px;
	background: #f1f1f1;
}
.top div{
	width: 120px;
	height: 100%;
	float: left;
}
.top a{
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	float: left;
	box-sizing: border-box;
	border: 2px solid #00ccff;
	color: #00ccff;
	border-radius: 5px;
	transition: all 0.2s;
}
.top a:hover{
	transform: scale(1.1);
	border: 2px solid #ff9800;
	color: #ff9800;
}
.left{
	width: 120px;
	height: 540px;
	box-sizing: border-box;
	padding-top: 10px;
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	background: #f1f1f1;
}
.left label{
	width: 40px;
	height: 40px;
	margin: 10px;
	font-size: 20px;
	line-height: 40px;
	float: left;
	box-sizing: border-box;
	border: 2px solid #00ccff;
	color: #00ccff;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.2s;
}
.cut{
	width: 83.33%;
	height: 1px;
	background: #00ccff;
}
.left label:hover{
	transform: scale(1.1);
	border: 2px solid #ff9800;
	color: #ff9800;
}
.left label[active=true],.left label[actives=true]{
	border: 2px solid #ff9800;
	color: #ff9800;
}
.left input{
	width: 30px;
	height: 30px;
	outline: none;
	border: none;
	background: #fff;
}
.right{
	height: 540px;
	overflow: hidden;
	position: relative;
}
.mask{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.eraser{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	border: 2px solid #ff9800;
	display: none;
}
.clip{
	display: none;
	border: 1px dashed #000;
}