/*
* @Author: Kuze
* @Date:   2017-08-27 16:20:01
* @Last Modified by:   Kuze
* @Last Modified time: 2017-08-27 16:52:15
*/
main{
	width: 100%;
	height: auto;
}
.trip{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	font-size: 12px;
}
.trip a, .trip span{
	color: #484848;
	line-height: 60px;
}
.trip a:hover{
	color: #ff9700;
}
.about{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 60px;
	border: 5px solid #f2f2f2;
    padding: 10px 25px 30px;
    box-sizing: border-box;
}
.about h3{
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 15px 0;
}
.about p{
	font-size: 14px;
	line-height: 20px;
}
.about a{
	color: #000;
}
.about a:hover{
	color: #ff9700;
}