/*
* @Author: Kuze
* @Date:   2017-07-21 17:28:15
* @Last Modified by:   Kuze
* @Last Modified time: 2017-07-22 15:07:48
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
:root{
	background: #f5f6fa;
}
header{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
.logo{
	width: 0.72rem;
	height: 0.67rem;
	margin-top: 0.13rem;
	margin-left: 2.74rem;
	display: block;
	background: url('../img/logo.png')  no-repeat;
	background-size: 0.72rem 0.67rem;
	float: left;
}
.title{
	font-size: .34rem;
	color: #fff;
	font-weight: bold;
	margin-top: 0.30rem;
	margin-left: 0.16rem;
	float: left;
}
#head{
	width: 100%;
	height: 0.92rem;	
}
.banner{
	width: 100%;
	height: 2.8rem;
	display: block;
}
.banner img{
	width: 100%;
	height: 2.8rem;
	display: block;
}
.shouye{
	width: 100%;
	height: 0.82rem;
	font-size: 0.24rem;
	line-height: 0.82rem;
	color: #000;
}
.shouye a{
	color: #000;
	padding-left: 0.24rem;
}
.shouye a:nth-of-type(2){
	color: #000;
	padding-left: 0rem;
}
.diyikuai{
	width: 93.6%;
	height: 2.26rem;
	margin-left: 0.24rem;
	background: #fff;
	margin-bottom: 0.1rem;
}
.shixue{
	margin-left: 0.47rem;
	width: 86.6%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.shixue div{
	width: 1.21rem;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
.shixue div a{
	margin-top: 0.28rem;
	width: 1.21rem;
	height: 1.21rem;
	display: block;
}
.shixue div a img{
	width: 100%;
	height: 100%;
	display: block;
}
.shixue span{
	margin-top: 0.2rem;
	font-size: 0.24rem;
	color: #000;
	display: block;
}
.dierkuai{
	width: 93.6%;
	height: 4.46rem;
	margin-left: 0.24rem;
	margin-bottom: 0.1rem;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.sekuai{
	width: 0.04rem;
	height: 0.2rem;
	background: #01b5ff;
	margin-left: 0.19rem;
	margin-top: 0.32rem
}
.dierkuai span{
	position: absolute;
	top: 0.22rem;
	left: 0.4rem;
	font-size: 0.22rem;
	font-weight: bolder;
}
.xuxian{
	position: absolute;
	top: 0.67rem;
	left: 0.4rem;
	width: 6.43rem;
	height: 0;
	border-bottom: 1px dashed #999999;
}
.dierkuai pre{
	margin-left: 0.4rem;
	margin-top: 0.3rem;
	font-size: 0.24rem;
	color: #504c4c;
}
.dierkuai pre b{
	color: #01b5ff;
}
pre {
white-space: pre-wrap;
word-wrap: break-word;
}
.disankuai{
	width: 93.6%;
	height: 5.76rem;
	margin-left: 0.24rem;
	margin-bottom: 0.1rem;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.disankuai span{
	position: absolute;
	top: 0.22rem;
	left: 0.4rem;
	font-size: 0.22rem;
	font-weight: bolder;
}
.disankuai a{
	display: block;
	width: 6.4rem;
	height: 4.9rem;
	margin:0 auto;
	margin-top: .23rem;
}
.disankuai img{
	width: 100%;
	height: 100%;
	display: block;
}
.disikuai{
	width: 93.6%;
	height: 5.55rem;
	margin-left: 0.24rem;
	margin-bottom: 0.1rem;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.disikuai span{
	position: absolute;
	top: 0.22rem;
	left: 0.4rem;
	font-size: 0.22rem;
	font-weight: bolder;
}
.zhiweilan{
	width: 6.52rem;
	height: 4.36rem;
	margin-top: .36rem;
	margin-left: .44rem;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.zhiweilan li{
	width: 100%;
	height: .56rem;
}
.zhiweilan li img{
	width: .56rem;
	height: .56rem;
	display: block;
	float: left;
}
.zhiweilan li pre{
	font-size: .16rem;
	float: left;
	color: #3e3a39;
	margin-left: 0.2rem;
}
.zhiweilan li pre b{
	color: #01b5ff;
}
.diwukuai{
	width: 93.6%;
	height: 4.98rem;
	margin-left: 0.24rem;
	margin-bottom: 0.1rem;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.diwukuai span{
	position: absolute;
	top: 0.22rem;
	left: 0.4rem;
	font-size: 0.22rem;
	font-weight: bolder;
}
.xueyuanxinxi{
	width: 6.74rem;
	height: 3.89rem;
	margin-top: .42rem;
	margin-left: 0.28rem;
	box-sizing: border-box;
}
.biaotou{
	width: 100%;
	height: .49rem;
}
.biaotou pre{
	font-size: .24rem;
}
.xinxi{
	width: 100%;
	height: 3.4rem;
	box-sizing: border-box;
	border-left: 1px dashed #01b5ff;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.xinxi div{
	width: 100%;
	height: .24rem;
	font-size: .24rem;
}
.xinxi div pre{
	color: #666666;
}
.xinxi div b{
	color: #ffa201;
}
.xiaoyuandian{
	width: 0.18rem;
	height: 0.18rem;
	background: #01b5ff;
	border-radius: 50%;
	box-sizing: border-box;
	border: 0.03rem solid #94e0ff;
	position: absolute;
	top: 1.7rem;
	left: 0.19rem;
}
.xiaoyuandian2{
	width: 0.18rem;
	height: 0.18rem;
	background: #01b5ff;
	border-radius: 50%;
	box-sizing: border-box;
	border: 0.03rem solid #94e0ff;
	position: absolute;
	top: 2.4rem;
	left: 0.19rem;
}
.xiaoyuandian3{
	width: 0.18rem;
	height: 0.18rem;
	background: #01b5ff;
	border-radius: 50%;
	box-sizing: border-box;
	border: 0.03rem solid #94e0ff;
	position: absolute;
	top: 3.05rem;
	left: 0.19rem;
}
.xiaoyuandian4{
	width: 0.18rem;
	height: 0.18rem;
	background: #01b5ff;
	border-radius: 50%;
	box-sizing: border-box;
	border: 0.03rem solid #94e0ff;
	position: absolute;
	top: 3.75rem;
	left: 0.19rem;
}
.xiaoyuandian5{
	width: 0.18rem;
	height: 0.18rem;
	background: #01b5ff;
	border-radius: 50%;
	box-sizing: border-box;
	border: 0.03rem solid #94e0ff;
	position: absolute;
	top: 4.4rem;
	left: 0.19rem;
}
.diliukuai{
	width: 93.6%;
	height: 4.98rem;
	margin-left: 0.24rem;
	margin-bottom: 0.1rem;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.diliukuai span{
	position: absolute;
	top: 0.22rem;
	left: 0.4rem;
	font-size: 0.22rem;
	font-weight: bolder;
}
.diliukuai a{
	width: 7.02rem;
	height: 4.3rem;
	margin-top: .2rem;
	display: block;
}
.diliukuai img{
	width: 100%;
	height: 100%;
	display: block;
}
footer{
	width: 100%;
	height: 0.92rem;
	font-size: .22rem;
	text-align: center;
	line-height: 0.40rem;
	overflow: hidden;
}
footer span{
	margin-top: 0.06rem;
	display: block;
	color: #666666;
}